.root {
  top: 5px;
  left: 5px;
  padding: 5px;
  min-width: 15px;
  min-height: 15px;
  position: absolute;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
