.root {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
  border-radius: 10px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  user-select: none;
  .clickArea {
    width: 100%;
    border-radius: 10px;
    background-color: rgba(255, 87, 87, 0.5);
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    &.edit {
      border-radius: 10px 10px 0 0;
    }
  }
  .changeButton {
    width: 100%;
    background-color: #ddd;
    border-radius: 0 0 10px 10px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .deleteIcon {
    position: absolute;
    top: 0;
    right: 0;
  }
}
